<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/common.css">
    <title>Hello, world!</title>
</head>
<body>
<div class="container">
    <div class="head border-bottom mb-3 pb-3 py-3">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" fill="currentColor" class="bi bi-explicit-fill" viewBox="0 0 16 16">
                <path d="M2.5 0A2.5 2.5 0 0 0 0 2.5v11A2.5 2.5 0 0 0 2.5 16h11a2.5 2.5 0 0 0 2.5-2.5v-11A2.5 2.5 0 0 0 13.5 0h-11Zm4.326 10.88H10.5V12h-5V4.002h5v1.12H6.826V7.4h3.457v1.073H6.826v2.408Z"/>
            </svg>
            <span class="fs-3">Estore</span>
        </a>
    </div>
    <div class="container mb-3">
        <div class="row">
            <div class="col">
                <div class="card mb-3">
                    <div class="card-body">
                        <h3 class="card-title" th:text="${rproduct.title}"></h3>
                        <p class="card-subtitle mb-2" th:inline="text">Start price: $[[${rproduct.price}]]</p>
                        <p class="card-subtitle" th:inline="text">Code: [[${rproduct.code}]]</p>
                        <div class="card-text" th:text="${rproduct.text}"></div>
                    </div>
                </div>

                <div class="container-bid">
                    <form class="row g-2" method="post" th:action="@{/auction/addbet/{id}(id=${rauction.id})}">
                        <div class="col-auto">
                            <input type="text" class="form-control" th:field="${rauctionbet.price}">
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-outline-primary">Add bet</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col">
                <h3>Auction information</h3>
                <div class="card mb-3">
                    <div class="card-body">
                        <p class="card-subtitle mb-2" th:inline="text">Start date: [[${#temporals.format(rauction.startDate, 'dd.MM.yy HH:mm')}]]</p>
                        <p class="card-subtitle mb-2" th:inline="text">End date: [[${#temporals.format(rauction.endDate, 'dd.MM.yy HH:mm')}]]</p>
                        <p class="card-subtitle mb-2" th:inline="text">Owner: [[${ruser.name}]] [[${ruser.surname}]]</p>
                        <p class="card-subtitle">Status: <span class="text-primary" th:text="${#strings.toLowerCase(rauction.status)}"></span></p>
                    </div>
                </div>

                <h3>List of bet</h3>
                <ol class="list-group list-group-numbered">
                    <li href="#" class="list-group-item d-flex justify-content-between align-items-start" aria-current="true" th:each="bet: ${rauctionbets}">
                        <div class="ms-2 me-auto">
                            <h5 class="mb-1" th:inline="text">[[${bet.user.name}]] [[${bet.user.surname}]]</h5>
                            <small th:text="${#temporals.format(bet.date, 'dd.MM.yy')}"></small>
                            <small class="text-secondary" th:text="${#temporals.format(bet.date, 'HH:mm')}"></small>
                        </div>
                        <b><span class="text-secondary" th:inline="text">$[[${bet.price}]]</span></b>
                    </li>
                </ol>
            </div>
        </div>


    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>